body.debug .container,
body.debug .container-fluid {
  outline: 2px double blue;
  outline-offset: -2px;
}

body.debug .row {
  outline: 2px dashed red;
  outline-offset: -2px;
}

body.debug [class*="col-"] {
  outline: 2px dotted forestgreen;
  outline-offset: -3px;
}

body.container-fluid{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#hero-row{
  background-image: url("hero-piano.jpg");
  background-position: center;
}

.bck-cover {
  background-size: cover;
}

.text-shadower {
  color: white;
  text-shadow: 1px 1px 15px black;
}

.hero-margin {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.object-contain-covver{
  object-fit: cover;
}

#piano-options{
  background-image: url("basic-instrument.jpg");
  background-size: cover;
  background-position: top;
  padding: 12vh 0;
  font-size: 9pt;
}
@media only screen and (max-width: 768px) {
  #piano-options {
    background-size: cover;
    background-position: center;
  }
}
.height-50vh{
  max-height:50vh
}
.bg-blue{
  background-color: blue;
}

.bg-black {
  background-color: black;
}

